
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <h2>617 Jennings Rd.
Wayne,<br>NJ 07470
 <br>  </h2>
    <h3>9678537798</h3>
    <p>Made with ❤️ by Akshat Talajiya</p>
  </div>

    <!-- Footer -->

    <!-- <footer class="footer">
      <hr class="new-4">
      <h1 class="qwe">Barneys Burger </h1>
      <h2 class="fut">b 303 ,milan apt <br>
      nr post office,<br>
    manickpur vasai(w)</h2>
  <!-- <i class="social-icon fab fa-facebook fa-2x"></i>
  <i class="social-icon fab fa-twitter fa-2x"></i>
  <i class="social-icon fab fa-instagram fa-2x"></i>
  <i class="social-icon far fa-envelope fa-2x"></i> -->
      <!-- <p class="abc">© Copyright 2018 TinDog</p> -->



</div>
</body>
</html>
