<%- include('partials/header'); -%>
<h1 class="about-1"> <%= aboutUContent %> </h1>
<h2 class="about-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, <br> when an unknown printer took a galley</h2>
<div class="row">
  <div class="column">
    <img src="images/quality food.jpg" alt="food" style="max-width:100%;height:auto;">
    <h2 class="abt-3" >QUALITY FOOD</h2>
    <p class="abt-4"> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into elect</p>
  </div>
  <div class="column">
    <img src="images/sanityabc.jpg" alt="sanity" style="max-width:100%;height:auto;">
    <h2 class="abt-3"">PROPER SANITY</h2>
    <p class="abt-4"> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into elect</p>
  </div>
  <div class="column">
    <img src="images/quality service.jpg" alt="service" style="max-width:100%;height:auto;">
    <h2 class="abt-3"">QUALITY SERVICE</h2>
    <p class="abt-4"> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into elect</p>
  </div>
</div>

<%- include('partials/footer'); -%>
