<%- include('partials/header'); -%>
<div class="container">
<img src="images/burger2.jpg" alt="" class="responsive" width="1200"  height="600">
  <div class="bottom-left"><h1>Local Burger <br> Done RIGHT</h1>
  <p>Join us for next Meal.</p></div>
</div>

<div class="cont">



  <img src="images/dine.jpeg" alt="dine"class="img-2 responsive" style="width:300px;height:500px;margin-left:300px; ">


  <h1 class="great-1">GREAT TASTE, GOOD TIMES
    <p class="section-2">Here at Barney’s Burgers we take pride in the quality <br>of the meat used for each and every burger. <br>If it’s not perfect and grilled just the way <br> you ordered it, we won’t send it out. <br> We guarantee the burger delivered to your table is <br>the best burger you could have ordered..</p>
  <button  class="but-1" type="button" name="button">See our Fresh ingridients</button>
  </h1>


<!-- <img src="images/dine.jpeg" alt="dine"class="img-2 responsive" style="width:300px;height:500px;margin-left:300px; ">

<h1 class="great-1">GREAT TASTE, GOOD TIMES
  <p class="section-2">Here at Barney’s Burgers we take pride in the quality <br>of the meat used for each and every burger. <br>If it’s not perfect and grilled just the way <br> you ordered it, we won’t send it out. <br> We guarantee the burger delivered to your table is <br>the best burger you could have ordered..</p>
<button  class="but-1" type="button" name="button">See our Fresh ingridients</button>
</h1> -->
<!-- <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br> Phasellus imperdiet, nulla eauris <br> quis diam velit.</p> -->


  <img src="images/wine.jpg" alt="imgs"class="img-3 responsive" style="width:300px;height:650px;margin-right:300px; ">
  <h1 class="great-2">GREAT TASTE, GOOD TIMES
    <p class="section-3">Here at Barney’s Burgers we take pride in the quality <br>of the meat used for each and every burger. <br>If it’s not perfect and grilled just the way <br> you ordered it, we won’t send it out. <br> We guarantee the burger delivered to your table is <br>the best burger you could have ordered..</p>
  <button  class="but-2" type="button" name="button">See our Fresh ingridients</button>
  </h1>


</div>


<!-- <div class="container">
  <img src="images/freshveggie.jpg" alt=""width="1200" height=height="50px">
  <div class="centered">
    <h2>WE USE ONLY THE FRESHIEST INDIGRIDENTS</h2>
  </div>
</div> -->
<div class="container-3">
  <h2 class="last">Come Dine With Us</h2>
  <h1 class="last-2">HOURS & LOCATION</h1>
  <div class="newspaper">
  <h2 class="atm-1">Monday-Friday</h2><p class="time">11am-11pm</p>,
  <h2 class="atm">Saturday-Sunday</h2><p class="time">11am-11pm</p>
  </div>
</div>
  <h1>home</h1>
 <h1> <%= StartingContent %> </h1>




<%- include('partials/footer'); -%>
