<%- include('partials/header'); -%>

<h1 class="m"><%= menuitemContent %> </h1>
<h3 class="mn">Our menu ranges from your old school to some mind blowing custom burgers and sides.</h3>

<h2 class="about-1">The Classic</h2>
<p class="about-2">angus ground brisket / american cheese/ fixins 13</p>


<h2 class="about-1">The Baconator</h2>
<p class="about-2">applewood smoked bacon/ guyere  15</p>
<h2 class="about-1">Slap Your Face</h2>
<p class="about-2">argentinian raised prime black angus chuck / poblano peppers / butter  12</p>
<h2 class="about-1">Fries</h2>
<p class="about-2">idaho potatoes / salt/ pepper  6</p>
<h2 class="about-1">Boiled Peanut</h2>
<p class="about-2">not your planter's peanuts  2</p>
<!-- <h2 class="about-1"></h2>
<p class="about-2">ggggggg nn jjjjjjj</p> -->




<%- include('partials/footer'); -%>
